.git
.DS_Store
._*
**/.DS_Store
**/._*
.agents
.codex
.repos
.moonserve-staging
_build/*
!_build/browser-dist
!_build/browser-dist/**
_artifacts/*
!_artifacts/moon-linux-amd64
!_artifacts/moon-linux-amd64/**
!_artifacts/zig-linux-amd64
!_artifacts/zig-linux-amd64/**
!_artifacts/lunanexa-control-linux-amd64
submissions
docs-site/node_modules
lunanexa-*.json
**/*.tar
**/*.tar.gz
**/*.zip
